body{
  background-color: rgba(225, 254, 254, 0.531);
}

.booking{
  margin-left: 8em;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 4em; 
}
.booking1{
  box-shadow:   1px 1px  9px 1px;
  width: 77em;
  margin-left: 6.5em;
  background-color: transparent;

}
.h-booking{
  text-align: center;
    font-style: italic;
    font-size: 4em;
}
.textbox1{
  font-size: 1.6em;
  width: 19.1em;
  background-color: transparent;
  height: 2.5em;
  border-color:  black;
  box-shadow: 1px 1px 6px 1px black;
  padding-left: 14px;
  border-radius: 15px 15px;

 
}
label{
  font-size: 1.5em;
}
input[type="text"] {
font-size: 1.6em;
  width: 17em;
  height: 0em;
  padding: 1em;
  border: 2px solid black;
background-color: transparent;
box-shadow:   1px 1px  6px 1px;
border-radius: 15px 15px;

}
input[type="date"],input[type="time"]  {
  font-size: 1.6em;
    width: 21.4em;
    height: 1em;
    padding: 1em;
    border: 2px solid black;
background-color: transparent;
box-shadow:   1px 1px  6px 1px;
border-radius: 15px 15px;

  }
  
input[type="textarea"] {
width: 41.7em;
height: 1em;
padding: 1em;
border: 2px solid black;
font-size: 1.4em;
background-color: transparent;
box-shadow:   1px 1px  6px 1px;
border-radius: 15px 15px;

}  
input[type="submit"] {
  width: 8em;
  height: 2.5em;
  padding: 1px 1px 1px 1px;
  border: 2px solid black;
  margin-left: 16.7em;
  font-size: 1.5em;
  border-radius: 15px 15px 15px 15px;
  margin-bottom: 1em;
  box-shadow:   1px 1px  9px 1px;
  background-color: rgba(0, 0, 255, 0);
  text-shadow: 2px 1px 2px white;
  font-weight: bolder;
  
}


