{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="about">
    <!-- <img class="img_about" src="{% static 'image/aboutbg.webp' %}" > -->
    <h1 class="about_us">About Us</h1>
</div>

<div class="about3" >
    <h2 class="about22">Over View</h2>
 
           <p class="content">Founded in 1997 by a team of India’s leading cardiologists, 
            CARE Hospitals started its journey as a 100-bedded Heart <br>
            Institute with a core team of 20 cardiologists, 1 operating theatre, and 1 catheterization laboratory. 25 years later, the CARE <br>
            Hospitals Group is a multi-speciality healthcare provider with 17 healthcare facilities serving 7 cities across 6 states in India. <br>
            It is the regional leader in South and Central India and is amongst the top 5 Pan-Indian hospital chains. CARE Hospitals <br>
            delivers comprehensive care in over 30 specialities. Adopting a service-oriented delivery model, CARE Hospitals provides <br>
            cost-effective medical care, with an uncompromising commitment to its core purpose – ‘To make quality healthcare <br>
            accessible at affordable costs to all’ 
        </p> 

    <img class="img_about1" src="{% static 'image/hospital.webp' %}" >
    
    <h3 class="about2">Our Vision, Mission and Values</h2>
    <p class="content">    Vision: To be a trusted, people-centric integrated healthcare system as a model for global healthcare. <br>
        Mission: To provide the best and cost-effective care, accessible to every patient through integrated clinical practice, <br>
        education and research.Values: <br>

    <ul class="content">
        <li><b>Transparency:</b> Being transparent requires courage and we stand for transparency. Every aspect of our business is clear <br> 
            and comprehensive to the relevant stakeholder and we never compromise on the fundamentals at any cost.</li>
        <li> <b>Teamwork:</b> A collaborative work ecosystem is where all the collective efficiencies are harnessed and propelled towards<br>
            delivering the best possible care.</li>
        <li><b>Empathy & Compassion:</b> The ability to understand and respond to the feelings of both the patients and the employees, <br>
            so that all the services are rendered in a supportive work environment with a humane touch.</li>
        <li><b>Excellence:</b>Excellence: When every action aims at enhancing quality, the outcome is always excellence. Each member in our team <br>
            strives with the same intensity in every action, be it healthcare or any other dimension of the organisational processes.</li>
        <li><b>Education:</b> Learning continuously to create an advanced and sustainable healthcare system that results in collective <br>
            growth of both the employees and the organization.</li>
        <li><b>Equity:</b> Mutual trust based on fair and impartial consideration of all professional matters, so that it can foster positive <br>
            contribution towards the institutional purpose.</li>
        <li><b>Mutual trust & respect:</b> We do not discriminate against anyone on any grounds. Respect is a traditional trait in us and we <br>
            respect everyone, for we believe that trust grows respect, which forms the foundation of real success.</li>           
    </ul>
    </p>
    <div class="about3">
        <img src="{% static 'image/Screenshot.jpg' %}"  style="height: 27em; margin-left: 13em; margin-top: 4em;">
        <img src="{% static 'image/scrn.jpg.jpg' %}"  style="height: 11em;width: 15em; margin-left: 13em;margin-top: -20em;">
    </div>
<!-- <button class="btn" ><a href="doctor.html"></a>Doctors</button> -->


</div>



{% endblock %}